  <div class="outer-container " >

    <h2>{{ section.settings.heading }}</h2>
    <div class="single-item">
   {% for block in section.blocks %}
     <div class="inner-maincontainer " style="background-image:url('{{ section.settings.background_image| image_url }}');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}">
  <div class="inner-container   page-width"> 
   <div class="person_description">  
      <div class="person_text"><h2>{{ block.settings.person_name }}</h2></div>
      <div class="person_details"> {{ block.settings.person_details }} </div>
  </div>
    <div class="person_image"> 
     <img src="{{ block.settings.person_image| image_url }}" />
    </div>
    </div>
     </div>
    {% endfor %}</div>
</div> 

 <style>

   {% if section.settings.choose_the_font_color!= blank %}
   .outer-container, .person_text h2{  color:{{section.settings.choose_the_font_color}};}
{% else %}
     {% endif  %}
     .outer-container{
     margin-bottom:15px;
   }
   .outer-container h2 {
     text-align:center;
   }
   .inner-container
   { 
  margin: 0 auto;
  display: grid; 
  grid-template-columns: 60% 40%; 
  gap: 0px 16px; 
    margin-top: 15px; 
}
   .inner-container{
     margin-bottom:10px;
     margin-top:10px;
   }
   .person_image{
     margin: 0 auto;
   }
   .person_image img{
     height:250px;
     width:250px;
     border-radius:50%;
     border:4px solid white;
     margin: 0 auto;
   }

   @media screen and (max-width:790px){
     .inner-container{
    display: grid; 
    grid-template-columns: 100%; 
    gap: 0px 16px; 
    margin-top: 10%; 
     }
   }
 </style>
<link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}"/>
<link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css' | asset_url }}"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
 
<script>
$(document).ready(function(){
 
  $('.single-item').slick({
  dots: true,
  infinite: true, 
  fade: true,
  autoplay: true,
  autoplaySpeed: 2000,
  cssEase: 'linear'
});
});  

</script>
{% schema %}
{
  "name": "Image-text-slider",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "background_image",
      "info": "Add an image for the background"
    },
     {
      "type": "color",
      "label": "Choose the Font Color",
      "id": "choose_the_font_color"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "mobile_bg_image",
      "info": "Add an image for the Mobile background"
    }
  ],
  "blocks": [
    {
      "type": "image_and_text",
      "name": "image and text",
      "settings": [
        {
          "type": "image_picker",
          "label": "Add an image of person",
          "id": "person_image"
        },
        {
          "type": "text",
          "label": "Enter Name",
          "id": "person_name"
        },
        {
          "type": "textarea",
          "label": "person_details",
          "id": "person_details"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image-text-slider"
    }
  ]
}
{% endschema %}
 